.about{
    overflow: hidden;
    padding: 6rem 2rem 3rem 2rem;
}
.about-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-row .about-column{
    width: 45%;
}
.about-row .about-column img{
    border-radius: 50%;
    background: #3c3c3c;
    border-radius: 5px;
}
.about-text{
    margin-bottom: 30px;
}
.about-text .about-tittle .intro{
    font-size: 36px;
    font-weight: 800;
    line-height: 50px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    padding-bottom: 20px;
}
.about-text .about-tittle .name{
    font-size: 35px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-bottom: 20px;
    position: relative;
}
.about-text .about-tittle .name::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    width: 82px;
    background-color: #5540BF;
}
.about-tittle h2 span{
    color: #5540BF
}
.about-text p{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 28px;
    padding-top: 35px ;
}
.learn-btn{
    font-size: 14px;
    color:#fff;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 30px;
    text-transform: uppercase;
    background: #5540BF;
    border-radius: 5px;
    padding: 12px 25px;
    display: inline-block;
    font-family: "Poppins", sans-serif;
}
@media screen and (max-width:1070px){
    .about-row{
        display: flex;
        flex-direction: column;
    }
    .about-pic img{
        width: 100%;
    }
    .about-row .about-column{
        width: 100%;
    }
    .about-text{
        padding-top: 50px;
    }
}
@media screen and (max-width:450px){
    .about{
        padding: 6rem 1rem 2rem 1rem;
    }
    .about-text .about-tittle h2 {
        font-size: 35px;
    }
}