.test{
    padding: 1rem 5rem 0 5rem; 
    overflow: hidden;
}
.test-tittle{
    text-align: center;
    padding-bottom: 50px;
}
.test-tittle h2{
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 35px;
    font-family: 'Nuosu SIL', serif;
}
.test-tittle p{
    font-size: 15px;
    font-weight: 400;
    width: 50%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding-bottom: 20px;
}
.test-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.single-testi{
    text-align: center; 
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    border: 3px solid #DADADA;
}
.client-data{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.client-name{
    padding-left: 20px;
}
.testi-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.testi-img img{
    width: 100%; 
} 
.single-testi h2{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.single-testi h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.single-testi p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
}
@media screen and (max-width:1024px) {
    .test-tittle P{
        width: 100%;
    }
    .test-row{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .single-testi{
        margin-bottom: 35px;
    }
}
@media screen and (max-width:768px) {
    .test{
       padding: 0 1rem 2rem 1rem ;
    }
    .test-row{
        display: grid;
        grid-template-columns: 1fr;
    }
    .single-testi{
        margin: 0 0 35px 0;
    }
}